.experiencia2 {
  margin: 0;
  padding: 10px;
  background-color:#baffc9;
}

.experiencia2 > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.trabajo2 {
  background: white;
  background-size: auto;
}

.trabajo2 > h2, p {
  margin: 4px;
  font-size: 90%;
}
.margen{
  margin-top:5px;
  margin-bottom:5px;
}
/*******************************************************************************************************************/
.experiencia {
    margin: 0;
    padding: 10px;
    background-color:#f1cbff;
  }
  
  .experiencia > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .trabajo {
    background: white;
  }
  
  .trabajo > h2, p {
    margin: 4px;
    font-size: 90%;
  }
  .fecha {
   color:grey;
   }
   
p{
    color:grey;
}

.datos{
  margin: 5px;
  padding: 10px;
  background-color:	#c9c9ff;
  text-align: center;
}
.nombre{
  text-align: center;
  color: black;
  background-color:azure;
  
}
#fondo{
  background-color: azure;
}

img {
  display: block;
  margin: auto;
  height:100%;
  width:25%;
}
body{
  background-color:azure;
}

#gmail, #direc, #cumple, #tel {
  color:black;
  background-color:white;
  min-width: 150px;
 text-align:center;
 padding: 5px;
 border-bottom: white;
border-color: #eeeeee;
}
#info{
  color:black;
  text-align: center;
}

.left{ 
  float: left;
  width: 70%;
 }

#cuadro{ 
  float: right;
  width: 30%;
 }

 button{
  display: block;
  margin: auto;
 }
 h1{
  text-align: center;
 }
 
 #cv{
  text-align: center;
background-color: white;
 }

 #nombreletra {
  font-family: 'Charmonman', cursive;
background-color: white;
 }
 @media screen and (max-width: 800px) {
  #cuadro, .left ,iframe, header, nav{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    float: inline-end;
    text-align: center;
    font-size: 4vw;
  }
}